./ng-fundamentals/node_modules/
./ng-fundamentals/e2e/
./ng-fundamentals/*.json


./bikes/target/
./bikes/!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
./bikes/.apt_generated
./bikes/.classpath
./bikes/.factorypath
./bikes/.project
./bikes/.settings
./bikes/.springBeans
./bikes/.sts4-cache
