**/node_modules/
**/e2e/
./ng-fundamentals/*.json

**/target/
!**/src/main/**
!**/src/test/**

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/.DS_Store

**/*.class
**/*.db