./ng-fundamentals/node_modules/
./ng-fundamentals/e2e/
./ng-fundamentals/*.json


./bike/bikes/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
./bike/bikes/.apt_generated
./bike/bikes/.classpath
./bike/bikes/.factorypath
./bike/bikes/.project
./bike/bikes/.settings
./bike/bikes/.springBeans
./bike/bikes/.sts4-cache
./bike/bikes/.DS_Store

**/*.class
